<!doctype html>

<head><title>Bike Chaser</title>
<link rel='stylesheet' href="{{ url_for('static', filename='leaflet-0.7.3.css') }}" />
<link rel='stylesheet' href="{{ url_for('static', filename='map.css') }}" />
<script src="{{ url_for('static', filename='jquery-2.0.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet-0.7.3.js') }}"></script>
</head>

<div id='map' style='width: 100%; height: 100%'></div>
<script>
	var map = L.map('map').setView([46.8772, -96.7894], 13);
	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 18 }).addTo(map);

	{% for point in points %}
	    L.marker([{{point.lat}}, {{point.lon}}]).addTo(map);
	{% endfor %}
	
</script>
